@import "https://discordtheme.alexflipnote.dev/theme.css";
  :root {
    --accent: #7a78bd;
    --dark-highlight: #181818;
    --dark-primary: #212121;
    --dark-secondary: #303030;
    --discord-logo: 1;
    --discord-logo-line: 1;
    --light-dark-text: #2e3136;
    --light-highlight: #9e9e9e;
    --light-primary: #ddd;
    --light-secondary: #ecf0f1;
    --notif: #7a78bd;
    --theme-logo: 1;
}
.background-1QDuV2 {
    border-radius: 8px;
    background-color: #121212;
    padding: 16px;
}
.fieldList-21DyL8 {
    border-radius: 8px;
    background-color: #323232;
    padding: 16px;
    margin-top: 16px;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #7a78bd;
}
.wrapper-3WhCwL {
    color: #b3aeff;
}
.theme-dark {
    --scrollbar-auto-track: #2e2e2e !important;
}
